.purchaseContainer {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
}

.bxHolder {
    display: flex;
    align-items: center;
    justify-content: space-around;
}