.black1 {
    color: #191b1f;
    background: #191b1f;
}

.black2 {
    color: #21242c;
    background: #21242c;
}

.black3 {
    color: rgba(#3f4252, 0.6);
    background: rgba(#3f4252, 0.6);
}


.ww {
    color: #f2f2f2;
    ;
}

.ww2 {
    color: #bebebe;
}

.blue1 {
    color: #3b62cc;
}